body{
    margin:0;
    font-family: sans-serif;
}

/* this form template is from w3 schools */
form {
    align-items: center;
    margin: 0 auto;
}

form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 60%;
  background: #f5f4f4;
}

form button {
  width: 10%;
  padding: 10px;
  background: #1c63f1;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;

}

form button:hover {
  background: #0c57ec;
}

/* clear content */
form::after {
  content: "";
  clear: both;
  display: table;
}

label{
    text-align: left;
    position: relative;
    left: 14%;
}

img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    margin: 0;
}

.image_container{
    float: left;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    border: none;
    text-align: center;
    padding: 0;

}

a {text-decoration: none;}   /* doesn't underline */
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: cornflowerblue;
        text-decoration: underline}     /* mouse over link */
a:active {color: black;}    /* selected link */

.center{
    text-align: center;
}

.row {
    margin: auto;
}

.column {

}

.leftcolumn {
    background: #FFFFFF;
}

.inputbox{
    font-size: 17px;
    height: 30px;
    width: 50%;
}

.submit_body{
    position: relative;
    top: -25px;
    height: 175px;
    border-bottom: solid black;
    margin: 50px;
    text-align: left;
}

.search_button{
    width: 30px;
    height: 30px;
}

.submit_stuff{
    width: 70%;
    height: 30px;
}

.track {
    border: solid black;
    width: 50%;
    margin: auto;
    height: 50px;
}

.page-title {
    display: block;
    margin-top: 5px;
    margin-bottom: .5rem;
    font-size: 17px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .subtitle {
        display: block;
        margin: 0;
        font-size: 10px;
        color: gray;
        float: left;
    }

.playlist {
    position: relative;
    border: solid black;
    width: 40%;
    margin: auto auto 20px;
    height: 170px;
    }
    .linktext{
        display: inline-block;
        width: calc(80%);
        font-size: 17px;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .description{
        float: left;
        border: none;
        margin: auto;
        width: 80%;
        height: 50%;
        font-size: 15px;
        color: gray;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .track_num{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1px 1px 1px 1px;

    }
    .track_num_similar{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1px 1px 1px 1px;
    }