* {
  /* brand foundation */
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  /* light */
  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: .02;

  /* dark */
  --brand-dark: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 2)
    calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5%  20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: .8;

  /* dim */
  --brand-dim: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 1.25)
    calc(var(--brand-lightness) / 1.25)
  );
  --text1-dim: hsl(var(--brand-hue) 15% 75%);
  --text2-dim: hsl(var(--brand-hue) 10% 61%);
  --surface1-dim: hsl(var(--brand-hue) 10% 20%);
  --surface2-dim: hsl(var(--brand-hue) 10% 25%);
  --surface3-dim: hsl(var(--brand-hue) 5%  30%);
  --surface4-dim: hsl(var(--brand-hue) 5% 35%);
  --surface-shadow-dim: var(--brand-hue) 30% 13%;
  --shadow-strength-dim: .2;
}

:root {
  color-scheme: dark;

  /* set defaults */
  --brand: var(--brand-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

body{
    margin:2px;
    font-family: sans-serif;
    background: var(--surface1);
}

/* form template from w3 schools */
form {
    align-items: center;
    margin: 0 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f5f4f4 inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: darkslategray !important;
}

form input[type=text] {
    padding: 15px;
    font-size: 17px;
    color: darkslategray;
    border: 1px solid grey;
    border-right: none;
    width: 20%;
    background: #f5f4f4;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

::placeholder{
    color: #c2c1c1;
}

form button {
    width: 3%;
    padding: 15px;
    background: #f5f4f4;
    color: var(--surface1);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    position: relative;
    right: 10px;
    cursor: pointer;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

form button:hover {
    background: #f5f4f4;
}

/* clear content */
form::after {
    content: "";
    clear: both;
    display: table;
}

label{
    text-align: left;
    position: relative;
    left: 19%;
}

img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    margin: 0;
}

#checkbox{
    top: 10px;
    right: 20px;
    position: absolute;
}

.image_container{
    float: left;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    border: none;
    text-align: center;
    padding: 0;

}

a {text-decoration: none;}   /* doesn't underline */
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: cornflowerblue; text-decoration: underline}  /* mouse over link */
a:active {color: black;}    /* selected link */

#title {
    height: 100px;
    padding-top: 100px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    font-size: 35px;
}

#subtile {
    height: 50px;
    margin-top: -70px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    font-size: 12px;
    color: grey;
}

.center{
    text-align: center;
}

.row {
    margin: auto;
}

.leftcolumn {
    background: #FFFFFF;
}

.inputbox{
    font-size: 17px;
    height: 30px;
    width: 50%;
}

.submit_body{
    position: relative;
    top: -25px;
    height: 500px;
    border-bottom: solid #cecdcd;
    margin: 50px 50px 20px;
    text-align: left;
}

.search_button{
    width: 30px;
    height: 30px;
}

.submit_stuff{
    position:relative;
    width: 50px;
}

.track {
    border: solid black;
    width: 50%;
    margin: auto;
    height: 50px;
}

.page-title {
    display: block;
    margin-top: 5px;
    margin-bottom: .5rem;
    font-size: 17px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .subtitle {
        display: block;
        margin: 0;
        font-size: 10px;
        color: gray;
        float: left;
    }

.playlist {
    position: relative;
    border: solid black;
    width: 40%;
    margin: auto auto 20px;
    height: 170px;
    border-radius: 5px;
    }
    .linktext{
        display: inline-block;
        width: calc(80%);
        font-size: 17px;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .description{
        float: left;
        border: none;
        margin: auto;
        width: 80%;
        height: 50%;
        font-size: 15px;
        color: gray;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .track_num{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1px 1px 1px 1px;

    }
    .track_num_similar{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1px 1px 1px 1px;
    }

.refresh_button{
    margin-left: 20px;
    width: 10%;
    height: 50px;
    padding: 5px;
    background: #1c63f1;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.top_row{
    top: -10px;
    margin-bottom: 30px;
    position: relative;
}

/* ANIMATIONS, taken from w3schools */


/* loader */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #81848b;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.top{
    position: relative;
    float: right;
    right: 15%;
    width: 20px;
    height: 20px;
    top: -40px;
}
.bottom{
    position: absolute;
    z-index: 1;
    left: 12.5%;
    top: 255px;
    width: 20px;
    height: 20px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1.5s;
    animation-name: animatebottom;
    animation-duration: 1.5s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


