<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body_input %}{% endblock %}
    <div class="row">
        <div class="column leftcolumn">
            <h2>Your Playlist</h2>
            <p>{% block left_column %}{% endblock %}</p>
        </div>
        <div class="column">
            <h2>Found Playlists</h2>
            <p>{% block right_column %}{% endblock %}</p>
        </div>
    </div>
</body>
</html>