<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type="text/javascript" src="../static/js/home.js"></script>
    <title>Spotify Playlist Finder</title>
    {% block head %}{% endblock %}
</head>
<body onLoad="hideLoadSearch(); hideLoadRefresh();">
    <div class="submit_body">
    {% block body_input %}{% endblock %}
    </div>
    {% if your_playlist %}
        <button class = "refresh_button" onClick="window.location.reload(); showLoadRefresh();">Refresh Playlists</button><div id="loader_bottom" class="loader bottom"></div>
    {% endif %}
    <div>
        <div>{% block top_column %}{% endblock %}</div>
        <div>{% block bottom_column %}{% endblock %}</div>
    </div>
</body>
</html>