{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body_input %}
<h1 class="center">Spotify Playlist Finder</h1>
<form method="POST">
  <label for="link">Playlist link:</label><br>
    <div class="center">
        <input class="" type="text" id="link" name="link" placeholder="e.g. https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF"><button class="" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
{% endblock %}

{% block left_column %}
    {% if track_list %}
        <h2 class="center">Your Playlist</h2>
    {% endif %}
    {% for tracks in track_list %}
        <div class="track">
            <img src="{{ tracks['Image'] }}" alt="picture" style="float: left; margin-right: 15px">
            <p class="page-title">
                {{ tracks['Name'] }}
            </p>
            <p class="subtitle">
                {{ tracks['Artist'] }}
            </p>
        </div>

    {% endfor %}
{% endblock %}

{% block right_column %}
    {% if track_list %}
        <h2 class="center">Found Playlists</h2>
    {% endif %}
    {% for playlist in playlist_list %}
    <div class = "playlist">
        <img src="{{ playlist['Image'] }}" alt="picture" style="float: left; margin-right: 15px">
        <p><a href="{{ playlist['Link'] }}">{{ playlist['Name'] }}</a></p>
    </div>
    {% endfor %}

{% endblock %}