{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body_input %}
<h1 class="center">Spotify Playlist Finder</h1>
<form method="POST">
  <label for="link">Playlist link:</label><br>
    <div class="center">
        <input class="" type="text" id="link" name="link" placeholder="e.g. https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF"><button class="" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
{% endblock %}

{% block left_column %}
    {% if your_playlist %}
        <h2 class="center">Your Playlist</h2>
        <div class = "playlist">
            <img src="{{ your_playlist['Image'] }}" alt="picture" style="float: left; margin-right: 15px">
            <p><a href="{{ your_playlist['Link'] }}" class="linktext" target="_blank">{{ your_playlist['Name'] }} {{ your_playlist['Count'] }}</a></p>
        </div>
    {% endif %}

{% endblock %}

{% block right_column %}
    {% if your_playlist %}
        <h2 class="center">Found Playlists</h2>
    {% endif %}
    {% for playlist in playlist_list %}
    <div class = "playlist">
        <img src="{{ playlist['Image'] }}" alt="picture" style="float: left; margin-right: 15px">
        <p><a href="{{ playlist['Link'] }}" class="linktext" target="_blank">{{ playlist['Name'] }} {{ playlist['Similar'] }}</a></p>
    </div>
    {% endfor %}

{% endblock %}