{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body_input %}
<h1 class="center">Spotify Playlist Finder</h1>
<form method="POST">
  <label for="link">Playlist link:</label><br>
    <div class="center">
        <input type="text" id="link" name="link" placeholder="e.g. https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF"><button type="submit" onClick="showLoadSearch();"><i class="fa fa-search"></i></button>
    </div><div id="loader_top" class="loader top"></div>
    <div id="checkbox">Search Algorithm:<br>
      <input type="radio" name="box" id="Quick" value="quick">
      <label for="Quick"> Quick</label><br>
      <input type="radio" name="box" id="Regular" value="regular" checked="checked">
      <label for="Regular"> Regular</label><br>
      <input type="radio" name="box" id="Detailed" value="detailed">
      <label for="Detailed"> Detailed</label><br>
      <input type="radio" name="box" id="Exhaustive" value="exhaustive">
      <label for="Exhaustive"> Exhaustive</label><br><br>
    </div>
</form>
{% endblock %}

{% block top_column %}
    {% if your_playlist %}
        <div class = "top_row animate-bottom">
        <h2 class="center">Your Playlist</h2>
        <div class = "playlist">
            <div class="image_container"><img src="{{ your_playlist['Image'] }}" alt="picture"></div>
            <p><a href="{{ your_playlist['Link'] }}" class="linktext" target="_blank">{{ your_playlist['Name'] }}</a></p>
            <div class="description">{{ your_playlist['Desc'] }}</div>
            <p class="track_num">{{ your_playlist['Count'] }} tracks</p>
        </div>
        </div>
    {% endif %}

{% endblock %}

{% block bottom_column %}
    {% if your_playlist %}
        <div class = "bottom_row animate-bottom">
        <h2 class="center">Found Playlists</h2>
    {% for playlist in playlist_list %}
    <div class = "playlist">
        <div class="image_container"><img src="{{ playlist['Image'] }}" alt="picture"></div>
        <p><a href="{{ playlist['Link'] }}" class="linktext" target="_blank">{{ playlist['Name'] }}</a></p>
        <div class="description">{{ playlist['Desc'] }}</div>
        <p class="track_num">{{ playlist['Count'] }} tracks</p>
        <p class="track_num_similar">{{ playlist['Similar'] }} similar tracks</p>
    </div>
    {% endfor %}
        </div>
    {% endif %}

{% endblock %}